.caixa{
    background-color: orangered;
}

.titulo{
     color: white !important ;
     font-weight: bold;
}

.botao{
    border-color: white !important; 
    background-color: #f84008 !important ; 
    color: white !important;
}

.postagem{

  background-color: white !important;

}




.cor{
background-color:orange ;  
text-align: center;


}

.imagem{
width: 500px;
height: 500px;
display: block;
margin: 0 auto;
}

.text-decorator-none{
  text-decoration: none;
}



/*direction="row" justifyContent="center" alignItems="center" style={{ backgroundColor: "#3F51B5" }}*/
